{% extends 'base.html.twig' %}

{% block title %}My Account - SHOP{% endblock %}

{% block body %}
    <h2>My Account</h2>
    <p>Welcome to your member area, {{ app.user.firstname }}.</p>
    <hr>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="list-group">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="list-group-item list-group-item-action">
                Back Office
            </a>
        {% endif %}
        <a href="{{ path('account_orders') }}" class="list-group-item list-group-item-action">
            My Orders
        </a>
         <a href="{{ path('account_password') }}" class="list-group-item list-group-item-action">
            Change Password
        </a>
    </div>
{% endblock %}
